!!!
head
  title dnsboard
body.container-fluid
  h1 dnsboard
  section
    h2 claim yourself?
    h6 regist your current host
    form(method='post')
      p
        input(placeholder='yourname.yourtype',name='name',value=name)
        button(type='submit') CLAIM
  mixin dns(d)
    p
      input(value=d.name,readonly='readonly',onclick='this.select()')
      small (#{d.address}
        button.expand http
        a(href='http://#{d.name}/') http://#{d.name}/
        button.expand ftp
        a(href='ftp://#{d.name}/') ftp://#{d.name}/
        button.expand git
        a(href='git://#{d.name}/') git://#{d.name}/
        button.expand svn
        a(href='svn://#{d.name}/') svn://#{d.name}/
        button.expand (unc)
        a(href='//#{d.name}') /#{''}/#{d.name}
        |)

  section
    h2 they already claimed themselves~ 
    h6 other hosts in network
    for d in dns
      if dhcp.filter(function(lease){return lease.address==d.address}).length
        mixin dns(d)
          
  section
    h2 they cannot see you, but you can see them.. 
    h6 public resouces in network 
    for d in dns
      if !dhcp.filter(function(lease){return lease.address==d.address}).length
        mixin dns(d)

  script(src='jquery.js')
  :coffeescript
    $ ->
      $('.expand').next().hide().end().click ->
        $(this).next().show().end().siblings('.expand').next().hide()
  :stylus
    body
      font-family: arial
      input,button
        font-family: arial
        padding:5px
        background: lighten(@maincolor,70%)
        border:solid 1px darken(@maincolor,50%)
        margin:2px
        &:hover
          background: lighten(@maincolor,40%)
      @maincolor:spin(red,50%);
      margin:0px;
      padding:30px;
      a
        font-weight:bold;
        color: darken(@maincolor,30%)
      h1
        margin:-30px;
        padding:10px 20px;
        background: @maincolor;
        box-shadow: 0 0 5px darken(@maincolor,50%);
      section
        h2
          margin-top:60px;
        h6
          margin-left:20px
          color:darken(@maincolor,50%)
        p
          margin-left:40px;
          small
            .expand
              padding:2px
              margin:auto 5px;
  script(src='prefixfree.js')